@import url(//fonts.googleapis.com/css?family=Open+Sans:600,700);
* {
	padding: 0;
	margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {height: 100%;width: 100%;margin: 0;}
body{
	background-image: url('https://i.imgur.com/EsBl5A3.jpg');
	width: 100%;
	height: 100%;
	font: normal 12px/20px Arial,Helvetica,sans-serif;
	overflow: hidden;
    margin: 0px;
	position: absolute;
	background-position: center;
	background-size: cover;
	box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.44);
}
.section_options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.season_options{
	width: 100%;
	min-height: 80px;
	background: linear-gradient(to bottom,  #004aec,  #001b5a);
	background: linear-gradient(to bottom,  #6800b8,  #4c0082);
	background-color: #262B36;
	
	display: flex;
    justify-content: center;
    align-items: center;
}
.season_options .serie_info{
	width: 200px;
    text-align: center;
}
.season_options .serie_info .serie_name{
	font-family: 'Open Sans';
	font-size: 19px;
	color: #fff;
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.season_options .serie_info .season{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	margin-top: 4px;
	font-size: 20px;
	color: #fff;
	clear: both;
	line-height: 1;
}

.season_options .season_label{
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 10px;
	color: #fff;
	padding: 0px 5px 0 15px;
}

.season_options .season_area{
	width: calc(100% - 200px - 130px);
}
.season_options .season_list{
	display: inline-table;
}
.season_options .season_list .season {
    margin: 1px;
    border: 1.5px solid #FFF;
    width: 40px;
    height: 40px;
    float: left;
    margin: 2.5px;
    cursor: pointer;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.season_options .season_list .season:hover {
    opacity: 1;
}
.season_options .season_list .season.selected {
    border-width: 2px;
    opacity: 1;
}
.season_options .season_list .season.selected:nth-of-type(1){
	border-color:#F34235;
}
.season_options .season_list .season.selected:nth-of-type(2){
	border-color:#D69B12;
}
.season_options .season_list .season.selected:nth-of-type(3){
	border-color:#3E50B4;
}
.season_options .season_list .season.selected:nth-of-type(4){
	border-color:#4BAE4F;
}
.season_options .season_list .season.selected:nth-of-type(5){
	border-color:#E81D62;
}
.season_options .season_list .season.selected:nth-of-type(6){
	border-color:#5932A3;
}
.season_options .season_list .season.selected:nth-of-type(7){
	border-color:#009587;
}
.season_options .season_list .season.selected:nth-of-type(8){
	border-color:#9533E6;
}
.season_options .season_list .season.selected:nth-of-type(9){
	border-color:#2C4143;
}
.season_options .season_list .season.selected:nth-of-type(10){
	border-color:#F4740B;
}
.season_options .season_list .season.selected:nth-of-type(11){
	border-color:#37803A;
}
.season_options .season_list .season.selected:nth-of-type(12){
	border-color:#52523A;
}
.season_options .season_list .season:not(.selected){
    border-color: rgba(255, 255, 255, 0.50)!important;
}
.season_options .season_list .season span {
	width: 100%;
	height: 100%;
	color: #FFF;
	font-family: 'Open Sans';
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.episodes_options{
    width: 100%;
	padding-top: 10px;
	flex: 1;
	overflow: auto;
	text-align: center;
}
.episodes_options::-webkit-scrollbar {
	width: 7px;
	background-color: #ffffff00;
}
.episodes_options::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #42ff00;
}
.episodes_options::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #ffffff00;
}
.episodes_options season{
	display:none;
}
season .box_episodes{
	display: inline-block;
    width: calc(50% - 10px);
    max-width: 400px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
season .box_episodes:last-of-type {
    margin-left: 20px;
}
season .box_episodes .header {
    width: 100%;
	padding: 10px 15px;
    background-color: #eceff6;
    display: table;
    text-align: center;
}
season .box_episodes .header p {
    color: #313f54;
    display: table;
	font-family: 'Open Sans';
}
season .box_episodes .body{
    width: 100%;
    display: table;
}
season .box_episodes .body .episode {
    width: 100%;
    height: 42px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
season .box_episodes .body .episode:hover {
    background-color: #fafafb;
}
season .box_episodes .body .episode:hover .title {
	color:#2600ea;
}
season .box_episodes .body .episode .title {
	color:#656c85;
    float: left;
    margin-left: 15px;
    font-family: 'Open Sans';
    font-size: 14px;
}

.section_view{
    width: 100%;
    height: 100%;
	background: #121121;
	display: flex;
    flex-flow: column;
}

.section_view .menu_view{
	width: 100%;
	min-height: 75px;
	background-color: #262b36;
	display: flex;
    justify-content: center;
    align-items: center;
}

.menu_view div[role='butback_btn'] {
	background-image: url('../../assets/images/btn_back.png');
    width: 65px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
	background-color:#333641;
	cursor:pointer;
	float:left;
}
.menu_view div[role='butback_btn']:hover {
	background-color: #5a5f73;
}
.menu_view div[role='butback'] {
    cursor: pointer;
    opacity: .8;
    padding-left: 25px;
    position: relative;
    font-size: 18px;
    font-family: 'Open Sans';
    color: #fff;
}
.menu_view div[role='butback']:hover {
    opacity: 1;
}
.menu_view div[role='butback']::before {
    width: 20px;
    height: 20px;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    background-image: url('../../assets/images/icon_back.png');
	top: 1px;
}
.section_view .episode_options{
	width: calc(100% - 120px);
	padding: 0 15px;
}
.section_view .option{
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,.2);
    opacity: .4;
    margin: 1px;
    margin-left: 5px;
    position: relative;
    float: left;
    cursor: pointer;
}
.section_view .option.selected {
    border-width: 2px;
    opacity: 1;
    margin: 0;
    margin-left: 4px;
}
.section_view .option:not(.selected) {
	border-color: rgba(255,255,255,.5)!important;
}
.section_view .option:hover {
    opacity: .8;
}

.section_view .option div {
	background: url(../../assets/images/default_logo.png);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.section_view .mainScreen_view{
    flex: 1;
	width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 0px;
    position: relative;
}
.mainPlayer_view{
	width: 100%;
	height: 100%;
}
.loading_view{
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
	position: relative;
	font-size: 2em;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .5em;
	padding: 10px;
}
.loader span{
	color: #fff;
	mix-blend-mode: difference;
}
.loader:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 100%;
	background-color: #fff;
	animation: ani 2s linear infinite;
}
@keyframes ani{
	0%{
		left: 0;
	}
	50%{
		left: calc(100% - 80px);
	}
	100%{
		left: 0;
	}
}

@media screen and (max-width: 620px){
	.season_options{
		display: block;
	}
	.season_options .serie_info{
		padding-top: 5px;
		width: 100%;
	}
	.season_options .season_label{
		display:none;
	}
	
	.season_options .season_area{
		width: 100%;
		margin-left: 0;
		text-align: center;
		padding-top: 9px;
		margin-top: 12px;
		padding-bottom: 5px;
		border-top: 1px solid rgba(255,255,255,.11);
		border-bottom: 1px solid rgba(255,255,255,.11);
	}
	season .box_episodes {
		width: 100%;
	}
	season .box_episodes:last-of-type {
		margin-left: 0;
		margin-top: 10px;
	}
}